@font-face {
	font-family: 'oswald';
	src: url('../font/Oswald-Regular.ttf');
}

body{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: -50px;
    margin-top: -13px;
    margin-bottom: -55px;
    top: 0;
    bottom : 0;
}
.navbar-brand img{
    top: 0;
    bottom: 0;
    margin-top: -30px;
    padding-top: 4px;
    width: 300px;
    height: 150px;
}
.navbar-nav{
    margin-left: -80px;
    font-family: 'oswald';
    font-size: 17px;
}
.nav-link:hover{
    color:  darkslategrey !important;
}

/* Container */
.container{
    color: white;
    margin-top: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1);
}

/* Featurette */
.featurette{
    margin-left: 0.1px;
    width: 100%;
    padding-bottom: 15px;
}

.feat{
    margin-top: 25px;
}

.imagefeat img{
    margin-left: -2px;
    height: 250px;
    width: 380px;   
}

@media (min-width: 992px) {
    .navigasi{
        position: sticky;
    }
    .navbar-brand{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 35px;
    }
    .featurette{
        margin-top: 0px;
        padding-top: 0px;
    }
    .feat{
        text-align: justify;
        padding-bottom: 55px;
    }
    .imagefeat{
        left: 150px;
    }
    .imagefeat img{
        width: 650px;
        height: 475px;
        border: solid 1px;
    }

    .imagefeat1{
        left: 95px;
    }

    .imagefeat1 img{
        width: 650px;
        height: 475px;
        border: solid 1px;
    }

    .headtext{
        font-size: 45px;
    }

    .textright{
        text-align: left;
        font-size: 35px;
        left: 100px;
    }

    .textleft{
        text-align: left;
        font-size: 35px;
        left: 300px;
    }
}
