@font-face {
	font-family: 'oswald';
	src: url('../font/Oswald-Regular.ttf');
}

body{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: -25px;
}
.navbar-brand img{
    padding-top: 4px;
    width: 150px;
    height: 50px;
}
.navbar-nav{
    margin-left: -25px;
    font-family: 'oswald';
    font-size: 17px;
}
.nav-link:hover{
    color:  darkslategrey !important;
}

/* Jumbotron */
.jumbotron{
    background-image: url('../image/background2.png');
    background-size: cover;
    height: 545px;
}

/* Container */
.container{
    color: white;
    margin-top: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1);
}

.container button{
    margin-top: 125px;
    margin-left: 120px;
}

.intro{
    margin-top: 20px;
    font-size: 25px;
}

/* Featurette */
.featurette{
    margin-left: 0.1px;
    width: 100%;
    padding-bottom: 15px;
}

.feat{
    margin-top: 25px;
}

.imagefeat img{
    height: 250px;
    width: 328px;   
}
.imagefeat1 img{
    height: 250px;
    width: 328px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .navigasi{
        position: sticky;
    }
    .navbar-brand{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 35px;
    }
    .jumbotron{
        background-image: url('../image/background2.png');
        background-size: cover;
        height: 600px;
    }
    .featurette{
        margin-top: 55px;
    }
    .feat{
        text-align: justify;
        padding-bottom: 55px;
    }
    .imagefeat{
        left: 300px;
    }
    .imagefeat img{

        width: 725px;
        height: 475px;   
    }
    
    .imagefeat1{
        left: 95px;
    }

    .imagefeat1 img{
        width: 725px;
        height: 475px;
    }

    .container button{
        margin-top: 250px;
        margin-left: 500px;
    }

    .headtext{
        font-size: 45px;
    }

    .textright{
        text-align: left;
        font-size: 35px;
        left: 100px;
    }

    .textleft{
        text-align: left;
        font-size: 35px;
        left: 400px;
    }
    
}