@font-face {
	font-family: 'oswald';
	src: url('../font/Oswald-Regular.ttf');
}

body{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: -50px;
    margin-top: -13px;
    margin-bottom: -55px;
    top: 0;
    bottom : 0;
}
.navbar-brand img{
    top: 0;
    bottom: 0;
    margin-top: -30px;
    padding-top: 4px;
    width: 300px;
    height: 150px;
}
.navbar-nav{
    margin-left: -80px;
    font-family: 'oswald';
    font-size: 17px;
}
.nav-link:hover{
    color:  darkslategrey !important;
}

/* Container */
.content{
    color: white;
    margin-top: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1);
}

/* Featurette */
.featurette{
    margin-left: 0.1px;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.feat{
    margin-top: 15px;
}

.lead{
    text-align: justify;
}

.feat-body{
    padding-top: 15px;
}

.feat img{
    margin-left: 145px;
    margin-top: 9px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .navigasi{
        position: sticky;
    }
    .navbar-brand{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 35px;
    }
    .featurette{
        padding-top: 0;
        padding-left: 37px;
    }

    .feat{
        padding-left: 55px;
        padding-right: 65px;
        text-align: justify;
    }

    .feat-body{
        padding-top: 15px;
    }

    .feat img{
        margin-left: 355px;
        margin-bottom: 15px;
    }
}
