@font-face {
	font-family: 'oswald';
	src: url('../font/Oswald-Regular.ttf');
}

body{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: -25px;
}
.navbar-brand img{
    padding-top: 4px;
    width: 150px;
    height: 50px;
}
.navbar-nav{
    margin-left: -25px;
    font-family: 'oswald';
    font-size: 17px;
}
.nav-link:hover{
    color:  darkslategrey !important;
}

/* Jumbotron */
.jumbotron{
    background-image: url('../image/background2.png');
    background-size: cover;
    height: 545px;
}

/* Container */
.container{
    color: white;
    margin-top: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1);
}
.intro{
    margin-top: 20px;
    font-size: 25px;
}

/* Featurette */
.featurette{
    width: 100%;
    padding-bottom: 15px;
}

.feat{
    margin-top: 25px;
}

.imagefeat img{
    margin-left: -2px;
    height: 250px;
    width: 400px;   
}
.imagefeat1 img{
    margin-left: -2px;
    height: 250px;
    width: 400px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .navigasi{
        position: sticky;
    }
    .navbar-brand{
        margin-right: 50px;
    }
    .nav-link{
        margin-right: 35px;
    }
    .jumbotron{
        background-image: url('../image/background2.png');
        background-size: cover;
        height: 600px;
    }
    .featurette{
        padding-top: 0;
        padding-left: 37px;
    }
    .feat{
        text-align: justify;
    }
    .imagefeat{
        left: 100px;
    }
    .imagefeat img{
        width: 460px;
        height: 300px;   
    }
    
    .imagefeat1 img{
        width: 460px;
        height: 300px;
    }
    .textmid{
        margin-left: 265px;
    }
}