@font-face {
	font-family: 'oswald';
	src: url('../font/Oswald-Regular.ttf');
}

body{
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    width: 100%;
}
.navbar-brand{
    margin-left: -25px;
}
.navbar-brand img{
    padding-top: 4px;
    width: 150px;
    height: 50px;
}
.navbar-nav{
    margin-left: -25px;
    font-family: 'oswald';
    font-size: 17px;
}
.nav-link:hover{
    color:  darkslategrey !important;
}

/* Container */
.content{
    color: white;
    margin-top: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1);
}

/* Featurette */
.featurette{
    margin-left: 0.1px;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.feat{
    margin-top: 15px;
}

.lead{
    text-align: justify;
}

.feat img{
    margin-top: 35px;
}

.grid{
    margin-bottom: 35px;
    margin-left: 25px;
}

.flip-box {
    background-color: transparent;
    width: 280px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
/* Style the front side */
.flip-box-front {
    background-color: rgb(255, 255, 255);
    color: black;
}
  
/* Style the back side */
.flip-box-back {
    background-color: #007bff;
    color: white;
    transform: rotateY(180deg);
}

.flip-box-back button{
    margin-top: 75px;
}

.modal-body img{
    margin: 15px 0 25px 105px;
}

@media (min-width: 992px) {
    .navigasi{
        position: sticky;
    }
    
    .navbar-brand{
        margin-right: 50px;
    }

    .nav-link{
        margin-right: 35px;
    }

    .featurette{
        padding-top: 0;
        padding-left: 37px;
    }

    .feat{
        padding-left: 55px;
        padding-right: 65px;
        text-align: justify;
    }

    .feat-body{
        padding-top: 15px;
    }

    .grid{
        margin-left: 125px;
        margin-bottom: 35px;
    }

    .modal-body img{
        margin: 15px 0 25px 325px;
    }
}